/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face{
    font-family: blockbuster;
    src: url("Blockbuster.ttf");
  }
  h1{
    font-family: blockbuster;
  }

  html {
      background-color: rgb(56, 56, 56);
  }

  .wrapper {
      display: grid;
      grid-template-areas: "title title"
                            "poster info"
                            "add-fav favorites"
                            "review-form review-form"
                            "reviews reviews";

    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
  }

  .title {
      grid-area: title;
  }

  .show-image{
      grid-area: poster;
  }

  .info{
      grid-area: info;
  }

  .favorites{
      grid-area: favorites;
  }
  .add-fav{
      grid-area: add-fav;
  }

  .reviews{
      grid-area: reviews;
  }

  .review-form{
      grid-area: review-form;
  }

 .banner-img {
    width: 100%;
   }
  
   .banner {
     width: 85%;
     margin: 0px auto;
  
   }
  
   .nav {
    background-color:#3D7DCA;
    height: 40px;
    width: 85%;
    margin: 0px auto;
  }
  
   .nav li {
     /* border: 1px solid black; */
     display: inline-block;
     line-height: 40px;
     padding: 0px 15px;
     margin: 0px;
  
   }
  
   .nav li:hover {
     background-color: whitesmoke;
     transition: 1s;
   }
  
   .nav li a {
    text-decoration: none;
    color: black;
    font-weight: 800;
  }
  
  
  .right {
    float: right;
  }
